/*Style HTML*/
html {
  height: 100%;
  width: 100%;
  background-color: #fffffe;
}

/*Style "Content"*/
.content {
  width: 95%;
  margin-top: 60px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;

}


/*Style Everything*/
* {
  padding: 0;
  margin: 0;
}

/*Style Nav Bar*/
/*Style All Elements With the Class navBar*/
.navBar {
  position: fixed;
  overflow: hidden;
  background-color: #bae8e8;
  top: 0;
  width: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 40px;

  mask: 
    linear-gradient(0,#0000 30px,#000 0),
    radial-gradient(30px,#000 calc(100% - 1px),#0000) bottom/55.5px 60px
}

/*Style Nav Bar Links*/
.navBar a {
  float: left;
  display: block; 
  color: #272343;
  background-color: #bae8e8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/*Style Nav Bar Links on Hover*/
.navBar a:hover {
  background-color: #bae8e8;
  color: #272343;
}

/*Style Active Nav Bar Links*/
.navBar a.active {
  background-color: #bae8e8;
  color: #272343;
}

/*Style Nav Bar Icon*/
.navBar .icon {
  display: none; 
  background-color: #bae8e8;
  color: #272343;
}

/*Style Nav Bar to be Responsive*/
@media screen and (max-width: 600px) {
  .navBar a:not(:first-child) {display: none;}
  .navBar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1275px /*Was 600px*/) {
  .navBar.responsive {position: sticky;}
  .navBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Remove Margin Between Nav Bar and First Image*/
@media screen and (max-width: 600px) {
  .navBar {
    margin-bottom: -45px;
    display: block;
  }
  #home {
    background-color: #bae8e8;
    color: #272343;
  }
}

/*Style hoverUnderlineAnimation*/
.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
}

.hoverUnderlineAnimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #272343;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/*Style H1 Text*/
h1 {
  color: #272343;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/*Style P Text*/
p {
  color: #2d334a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Style Links*/
a {
  color: #2d334a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
}

.projectLink:hover {
  opacity: 75%;
}

/*Style "Section Header"*/
.sectionHeader {
  color: #272343;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16pt;
}

/*Style "Centered Section Header"*/
.centeredSectionHeader {
  color: #272343;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16pt;
  text-align: center;
}

/*Style iFrame (YouTube Video)*/
iframe {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/*Style Lists*/
ul {
  color: #2d334a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
}

/*Style Buttons*/
button {
  background-color: #ffd803;
  color: #272343;
  padding: 10px 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
}

/*Style Buttons on Hover*/
button:hover {
  opacity: 75%;
  cursor: pointer;
}

/*Style Image Gallery Container*/
.galleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  flex-wrap: wrap;
}

/*Style Image Gallery Images*/
.galleryImage {
  margin: 20px 10px;
  height: 200px;
  width: auto;
}

/*Style Image Gallery Images on Hover*/
.galleryImage:hover {
  -webkit-filter: opacity(75%);
  filter: opacity(75%);
}

@media screen and (max-width: 900px) {
  .galleryImage {
    margin: 20px 10px;
    height: 150px;
    width: auto;
  }
}

/*Style "Rounded Image"*/
.roundedImage {
  /*Round Image*/
  height: 250px;
  width: 250px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #2d334a;

  /*Center Image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Style Scroll Div*/
.scrollDiv {
  background-color: #bae8e8;
  border-radius: 20px;
  max-height: 600px;
  overflow-y: auto;
}

/*Style Images in Scroll Div*/
.scrollDiv img {
  width: 45%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/*Style Text in Scroll Div*/
.scrollDiv p {
  color: #2d334a;
  font-weight: 600;
  text-align: center;
}

/*Style Side By Side*/
.sideBySide {
  margin-right: 3%;
  margin-left: 3%;
  width: 90%;
  height: auto;
  display: inline-flex;
  padding: 20px;
  justify-content: center;
  margin-top: -1px;
  align-items: center;
}

/*Style Side By Side Elements*/
.sideBySideElement {
  width: 45%;
  height: auto;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

/*Style Side By Side to be Responsive*/
@media screen and (max-width: 850px) {
  .sideBySide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .sideBySideElement {
    width: 100%;
    margin-left: -2%;
  }
}

/*Center Button Group*/
.centerButtons {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/*Create Space Between Centered Buttons*/
.centerButtons button {
  margin: 5px;
}

/*Style Embeded Website*/
.embed {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  border: 6px solid #bae8e8;
  border-radius: 20px;
}

/*Style Embeded YouTube Video*/
.sideBySideElement iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 300px;
}

/*Style "Full Length" Text*/
.wideText {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

/*Footer*/
.footer {
    background-color: #bae8e8;
    color: #272343;
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
    bottom: 0;
}

/*Footer Text*/
.footer p {
    /*font-weight: 800;*/
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    color: #272343;
}

/*Footer Logos/Links*/
.footer i {
    font-size: 38px;
    color: #272343;
    margin: 0px 10px;
}

.footer i:hover {
    font-size: 38px;
    opacity: 75%;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 325px;
  background-color: #bae8e8;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.card img {
  width: 75%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 15px;
  padding-top: 24px;
}

.cardContent {
  padding: 16px;
  padding: 24px;
}

.projectTitle {
  margin-bottom: 8px;
  color: #2d334a;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16pt;
}

.cardContent p {
  color: #2d334a;
}

.tag {
  background-color: #ffd803;
  color: #272343;
  padding: 10px 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  display: inline-block;
  width: max-content;
  margin-bottom: 5px;
}

/*Style Projects to Be Responsive*/
@media screen and (max-width: 1200px) {
  .codingProjectImage {
    width: 30%;
  }

  .codingProjectInfo {
    width: 70%;
  }

  .codingProjectImage img {
    width: 75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
  }

  .wideText {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .codingProject {
    flex-wrap: wrap;
    flex-direction: columnn;
  }

  .codingProjectImage, .codingProjectInfo {
    width: 100%;
  }

  .codingProjectImage img {
    width: 40%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
}
